.card {
	width: 230px;
	height: 152px;
	xpadding: 5px; float: left;
	xmargin: 0 10px 10px 0;
	font-size: .9em;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	top: 460px;
	left: 0px;
	display: block;
}

.card-icon-default {
    top: 12px; left: 81%;
}

.card-icon-pi {
    top: 5px; left: 90%;
}

.card-change-color-icon-default {
    top: 90px; left: 80%;
}

.card-change-color-icon-pi {
    top: 120px; left: 88%;
}

.card-copy-icon-default {
    top: 50px; left: 80%;
}

.card-copy-icon-pi {
    top: 65px; left: 88%;
}

.card-image {
	position: absolute;
	xtop: -10;
	left: -3px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1000;
}

.content {
	overflow: hidden;
	display: block;
	width: 158px;
	height: 88px;
	margin: 0px 23px 0px 34px;
	font-family: 'Arial',"Arial Rounded MT Bold", arial, serif;
	font-size: 18px;
	letter-spacing: 0px;
	xtext-shadow: 0px 0px 1px #444;
	opacity: 1;
	color: black;
	text-align: left;
	padding-top: 18px;
	xline-height: 16px;
	xopacity: .8;
}

.content-pi {
	width: 180px;
	height: 145px;
	/* top | right | bottom | left */
	margin: -16px 23px 0px 18px;
}

.filler {
	margin-right: 34px;
	margin-bottom: 17%;
	margin-left: 25px;
}

.filler-pi {
	margin-bottom: 5%;
}

.stickertarget {
	position: absolute;
}

.content h1 {
	font-family: 'Arial', "Arial Rounded MT Bold", arial, serif;
	color: black;
	letter-spacing: 0px;
	font-size: 20px;
	font-weight: bold;
}

.content h2 {
	font-family: 'Arial', "Arial Rounded MT Bold", arial, serif;
	color: black;
	letter-spacing: 0px;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.content h3 {
	font-family: 'Arial', "Arial Rounded MT Bold", arial, serif;
	color: black;
	letter-spacing: 0px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.content ul {
	margin-left: 20px;
}

.content * {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
