extends layout

block body
    - if (locals.demo)
        div.notice-bar this is a demo board. to make a private board, go to <a href="/">home page</a>

    h1 <a href="https://github.com/lspevak/scrumblr" target="_blank">scrumblr</a>

    div.board-outline
        div#board
            div#board-doodles
            image#marker(src='images/marker.png')
            image#eraser(src='images/eraser.png')

            table#board-table.board-table
                tr
                    td#icon-col(width='1%')
                        i#add-col.col-icon.fa.fa-plus-circle.fa-1x.bottom-icon-green(alt='Append column', title='Append column')
                        i#delete-col.col-icon.fa.fa-minus-circle.fa-1x.bottom-icon-green(alt='Remove column', title='Remove column')
                        i#add-row.col-icon.fa.fa-plus-circle.fa-1x.bottom-icon-blue(alt='Append row', title='Append row')

            div#buttons-dialog.buttons-dialog
                div
                    i#create-card-white-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-white
                    i#create-card-yellow-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-yellow
                    i#create-card-green-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-green
                    i#create-card-blue-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-blue
                    i#create-card-orange-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-orange
                    i#create-card-purple-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-purple
                    i#create-card-red-dlg.fa.fa-plus-circle.fa-2x.bottom-icon-red
                div
                    i#create-card-pi-white-dlg.fa.fa-plus-square.fa-2x.bottom-icon-white
                    i#create-card-pi-yellow-dlg.fa.fa-plus-square.fa-2x.bottom-icon-yellow
                    i#create-card-pi-green-dlg.fa.fa-plus-square.fa-2x.bottom-icon-green
                    i#create-card-pi-blue-dlg.fa.fa-plus-square.fa-2x.bottom-icon-blue
                    i#create-card-pi-orange-dlg.fa.fa-plus-square.fa-2x.bottom-icon-orange
                    i#create-card-pi-purple-dlg.fa.fa-plus-square.fa-2x.bottom-icon-purple
                    i#create-card-pi-red-dlg.fa.fa-plus-square.fa-2x.bottom-icon-red

            div#select-box

    div.buttons
        i#create-card.fa.fa-plus-circle.fa-2x.bottom-icon
        i#create-card-white.fa.fa-plus-circle.fa-2x.bottom-icon-white
        i#create-card-yellow.fa.fa-plus-circle.fa-2x.bottom-icon-yellow
        i#create-card-green.fa.fa-plus-circle.fa-2x.bottom-icon-green
        i#create-card-blue.fa.fa-plus-circle.fa-2x.bottom-icon-blue
        i#create-card-orange.fa.fa-plus-circle.fa-2x.bottom-icon-orange
        i#create-card-purple.fa.fa-plus-circle.fa-2x.bottom-icon-purple
        i#create-card-red.fa.fa-plus-circle.fa-2x.bottom-icon-red
        i#create-card-pi-white.fa.fa-plus-square.fa-2x.bottom-icon-white
        i#create-card-pi-yellow.fa.fa-plus-square.fa-2x.bottom-icon-yellow
        i#create-card-pi-green.fa.fa-plus-square.fa-2x.bottom-icon-green
        i#create-card-pi-blue.fa.fa-plus-square.fa-2x.bottom-icon-blue
        i#create-card-pi-orange.fa.fa-plus-square.fa-2x.bottom-icon-orange
        i#create-card-pi-purple.fa.fa-plus-square.fa-2x.bottom-icon-purple
        i#create-card-pi-red.fa.fa-plus-square.fa-2x.bottom-icon-red
        i#smallify.fa.fa-expand.fa-2x.bottom-icon(alt='Switch to S/M/L dashboard', title='Switch to S/M/L dashboard')

    div.stickers
        div.sticker#sticker-red
        div.sticker#sticker-blue
        div.sticker#sticker-yellow
        div.sticker#sticker-green
        br
        div.sticker#sticker-pink
        div.sticker#sticker-lightblue
        div.sticker#sticker-orange
        div.sticker#sticker-purple
        br
        div.sticker#sticker-gold
        div.sticker#sticker-bluestar
        div.sticker#sticker-silverstar
        div.sticker#sticker-redstar
        br
        div.sticker#nosticker

    div.names
        p connected:
        input#yourname-input
        span.you-text (you)
        ul#names-ul
