doctype html
html(lang="en")
	head

		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />

		<!-- SCRIPTS -->

		<!-- jQuery - https://code.jquery.com -->
		<script src="lib/jquery-1.12.4.min.js"></script>
		<script src="lib/jquery-ui-1.12.1.min.js"></script>
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.js"></script>
		<script src="lib/jquery.blockUI.js"></script>
		<script src="lib/marked.min.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>

		title= locals.pageTitle

	body
		block body
